.deck-container .autoshow:not(nostyle), .autoshow:not(nostyle) { 
    position: relative;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 20px white; 
    background: black;
    border: 2px solid rgb(170, 255, 170);
    border-radius: 20px;
}

.autoshow:not(nostyle) > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    text-align: center;
}

.autoshow:not(nostyle) > div img {
    max-width: 480px;
    height: 280px;
}
