
@import 'conf';

.deck-container {
 
    a, a:visited {color: darkblue; text-decoration: none;}

    font-family: Arial,sans-serif;
    font-size: 1.75em;
    background: black;

    >.slide {
        background: white;
        border-radius: 20px;
    }
    
    >.slide:not(.title-slide) {
        >ul {
            li {
                padding-left: .4em;
            }
            margin-left: 20px;
            font-size: 40px;
            line-height: 60px;
            list-style: square;
        }
        >ul>li>ul {
            font-size: 30px;
            line-height: 40px;
            margin-top: -5px;
            margin-bottom: 5px;
        }

        h1 {
            text-align: center;
            margin-top: 300px;
            font-size: 50px;
        }
        
        h2 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 1em;
            padding-top: 0;
            border-bottom: 0;
            margin-top:0;
            padding-left: 30px;
            color: white;
            background: $darktitle;
        }
    }

    .deck-status {
        left: 0;
        width: 100%;
        text-align: center;
        bottom: 15px;
        font-size: 60%;
        color: #333;
    }


    /* OVERRIDE */
    .slide>ul>li {
        background: none;
    }
    >.slide .deck-before, >.slide .deck-previous {
        opacity: 1;
    }

    /*
    background: black;
    &:not(.printasis) { @media print {
        background: white;
    }}
    position: relative;
    
    .whitebg {
        svg {
            border-radius: 10px;            
        }
        background:white;
        box-shadow: 0 0 10px white; 
        border: 2px solid black;
        border-radius: 10px;
    }
    .space10 {
        margin: 10px;
    }*/
}